html{height: 100%;}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(150deg, rgba(252,250,21,1) 0%, rgba(253,45,108,1) 100%);
    font-family: system-ui, sans-serif;
}

h1, h2, h3, h4{
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

.main-container {
    background-color: #ffffff6c;
    width: 30vw;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: 3px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-container-header {
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    text-shadow: 1px 1px 2px#24242486;
}

.main-container-start{
    font-size: 30px;    
    font-weight: 500;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #e26cff;
    width: 200px;
    height: 45px;
    user-select: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.main-container-start:hover {
    background-color: #d264ee;
}   

.main-container-start:active {
    background-color: #c65ee0;
}

.main-container-connect {
    font-size: 30px;    
    font-weight: 500;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: #69eb65;
    width: 200px;
    height: 45px;
    user-select: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.main-container-connect:hover {
    background-color: #64e260;
}   

.main-container-connect:active {
    background-color: #5dd159;
}

.main-container-username {
    display: flex;
    font-size: 25px;
    color: #ffffff;
    flex-direction: column;
    text-shadow: 1px 1px 2px#2424247e;
}

.main-container-username-container {
    display: flex;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.main-container-avatar-img {
    height: 75px;
    width: 75px;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid #000;
}

.main-container-avatar-img:hover {
    opacity: .8;
}

.main-container-username-input {
    font-size: 40px;
    background-color: #ffffff65;
    border-radius: 4px;
    border: 2px solid #bebebe;
    width: 220px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.main-container-username-input:focus {
    background-color: #ececec57;
    outline: none;
}

.main-container-username-save {
    background-color: #69eb65;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.main-container-username-save:hover {
    background-color: #64e260;
}   

.main-container-username-save:active {
    background-color: #5dd159;
}